.trajet-card{
  background-color: aqua;
  border-radius: 50px;
  $padding: 18px;
  padding: $padding;
  width: 325px - 2 * $padding;

  .titre3{
    background-color: chartreuse;
    border-radius: 50px;
    padding: 8px 0;
    padding-left: 18px;
  }

  .content{
    padding-top: $padding;
    p{
      margin: 0;
    }
  }
}