.listTrajet{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background-image: url("../../media/images/background-modified.png");
  background-repeat:round;
  background-size: 120%;
  border-radius: 50px;
  padding: 18px 0;
}