.titre2{
  font-size: 2em;
}

.titre3{
  font-size: 1.5em;
}

.empty{
  text-align: center;
  color: #10f67c;
}

body{
  background-color: #26133C;
}

.searchList{
  width: 300px;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 18px;
  font-size: 1.2em;

  li {
    border-bottom: 1px solid black;
    margin-bottom: 18px;
    padding-bottom: 5px;
    padding-left: 18px;
  }
}

input{
  height: 40px;
  width: 300px;
  border-radius: 50px;
  font-size: 1.3em;
  border: solid black 2px;
  background-color: rgba(230, 230, 230, 0.700);
  padding: 1px 2px 1px 18px;
}

.Button{
  width: 150px;
  height: 46px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color: black;
  filter: drop-shadow(0 4px 1px black);
}

.app{
  display: flex;
  flex-direction: column;
  // grid-template-rows: 118px auto auto;
  font-family: 'Baloo Tamma 2', cursive;

  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    grid-row: 1;
    color: #26133C;
    padding: 18px;
    filter: drop-shadow(6px 8px 1px black);

    img{
      border-radius: 20px;
    }
    p{
      margin: 0;
    }
  }
  .page{
    grid-row: 2;
    min-height: 60vh;
  }

  footer{
    grid-row: 3;
    height: 4 * 18px;
    border-radius: 50px;
    background-color: rgb(61, 61, 61);
  }

}