.new{
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
  min-height: 319px;

  .search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    background-color: #02e9f7;
  }

  .ButtonAdd{
    background-color: #02e9f7;
    position: fixed;
    bottom: 18px;
    right: 18px;
    z-index: 2;
  }
}